table {
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
  // border: 1px solid #dddddd;
  border-radius: 3px;
}

thead {
  tr:first-child {
    background: transparent;
  }
}

tr {
  background: white;
}

td,
th {
  // border: 1px solid #dddddd;
  text-align: left;
  padding: 16px 8px;
}
td {
  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.dashboard {
  padding: 20px;
  overflow-x: auto;
  background-color: #f3f5f9;
  min-height: 100vh;

  &__title {
    padding-top: 40px;
  }
}
